<main>
  <div class="container">
    <!-- publicidad -->
    <app-anuncio></app-anuncio>
    <!-- segunda navegacion -->
    <aside class="aside">

      <nav class="aside-navegacion">
        <ul>
          <li>
            <span class="glyphicon glyphicon-user"></span>
            Nombre de usuario
          </li>
          <li>
            <span class="glyphicon glyphicon-user"></span>
            Amigos
          </li>
          <li>
            <span class="glyphicon glyphicon-user"></span>
            Tiendas
          </li>
          <li>
            <span class="glyphicon glyphicon-user"></span>
            Grupos
          </li>
          <li>
            <span class="glyphicon glyphicon-user"></span>
            Recuerdos
          </li>
          <li>
            <span class="glyphicon glyphicon-user"></span>
            Amigos
          </li>
        </ul>
        <span class="separar"></span>
        <ul>
          <li style="margin-top:20px ;">
            <span class="glyphicon glyphicon-user"></span>
            Nombre de usuario
          </li>
          <li>
            <span class="glyphicon glyphicon-user"></span>
            Amigos
          </li>
          <li>
            <span class="glyphicon glyphicon-user"></span>
            Tiendas
          </li>
          <li>
            <span class="glyphicon glyphicon-user"></span>
            Grupos
          </li>
          <li>
            <span class="glyphicon glyphicon-user"></span>
            Recuerdos
          </li>
          <li>
            <span class="glyphicon glyphicon-user"></span>
            Amigos
          </li>
        </ul>
      </nav>
    </aside>
    <div class="contenido">

      <!-- Adopcion -->
      
      <h1>Animales en adopcion</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgcdn.emol.cl%2Finternacional%2Ffiles%2F2018%2F08%2Fgato.jpg&f=1&nofb=1"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgcdn.emol.cl%2Finternacional%2Ffiles%2F2018%2F08%2Fgato.jpg&f=1&nofb=1"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgcdn.emol.cl%2Finternacional%2Ffiles%2F2018%2F08%2Fgato.jpg&f=1&nofb=1"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgcdn.emol.cl%2Finternacional%2Ffiles%2F2018%2F08%2Fgato.jpg&f=1&nofb=1"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Usuarios randome -->
      <div class="usuarios-ran">
        <span class="titulo1">Usuarios</span>
        <div class="card mb-3">
          <div class="usuario-ran-img">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.mascotahogar.com%2F1920x1080%2Ffondo-de-pequenos-gatitos-naranjas.jpg&f=1&nofb=1"
              class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <div class="usuarios-ran-perfil">
              <img src="https://scontent.fpss4-1.fna.fbcdn.net/v/t1.6435-9/59973194_2300761996613759_4251943418890027008_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=j_P2B3C0CtEAX-NO6Js&_nc_ht=scontent.fpss4-1.fna&oh=00_AT9mlchBLgQwJqwLRU9HcAdKpJ343wjd8eC0rxU1gBoEzw&oe=62E12DA0" alt="">
            </div>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="usuario-ran-img">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F2.bp.blogspot.com%2F--iXfu7kx-CE%2FT6X6CDkj1iI%2FAAAAAAAAQJo%2FpM1ZN7sDjzc%2Fs1600%2F1a%2Bgatos%2Ccats%2Cfondos%2B(2).jpg&f=1&nofb=1"
              class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <div class="usuarios-ran-perfil">
              <img src="https://scontent.fpss4-1.fna.fbcdn.net/v/t1.6435-9/59973194_2300761996613759_4251943418890027008_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=j_P2B3C0CtEAX-NO6Js&_nc_ht=scontent.fpss4-1.fna&oh=00_AT9mlchBLgQwJqwLRU9HcAdKpJ343wjd8eC0rxU1gBoEzw&oe=62E12DA0" alt="">
            </div>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <!-- veterinarias -->
      <div class="veterinarias">
        <span class="titulo1">Veterinarias</span>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="veterinaria">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://veterinariamrcan.com/wp-content/uploads/elementor/thumbs/Salud-y-bienestar-total-para-tu-mascota-p5txyr4gktec6py3w7dfdskhb7ucrb5nm1xodvwyzs.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="veterinaria">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://veterinariamrcan.com/wp-content/uploads/elementor/thumbs/Salud-y-bienestar-total-para-tu-mascota-p5txyr4gktec6py3w7dfdskhb7ucrb5nm1xodvwyzs.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="veterinaria">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://veterinariamrcan.com/wp-content/uploads/elementor/thumbs/Salud-y-bienestar-total-para-tu-mascota-p5txyr4gktec6py3w7dfdskhb7ucrb5nm1xodvwyzs.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="veterinaria">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://veterinariamrcan.com/wp-content/uploads/elementor/thumbs/Salud-y-bienestar-total-para-tu-mascota-p5txyr4gktec6py3w7dfdskhb7ucrb5nm1xodvwyzs.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>